TrophyUpdater/TrophyUpdater/Web References/startstop/AccessPoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://startstop.me/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://startstop.me/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://startstop.me/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FindStatOverview">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OverviewType" type="tns:OverviewType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="OverviewType">
        <s:restriction base="s:string">
          <s:enumeration value="Website" />
          <s:enumeration value="OnlineGame" />
          <s:enumeration value="PS3" />
          <s:enumeration value="Xbox" />
          <s:enumeration value="Application" />
          <s:enumeration value="Game" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindStatOverviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindStatOverviewResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnGUID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddStatOverview">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oStatOverview" type="tns:StatOverView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatOverView">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OverviewID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="OverviewGUID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MoreInfoURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeveloperGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="DeveloperID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeOfOverview" type="tns:OverviewType" />
          <s:element minOccurs="0" maxOccurs="1" name="AssociatedImage" type="tns:SiteImage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteImage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ImageID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LinkedGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LinkedID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageType" type="tns:TypeOfImage" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageSize" type="tns:SizeOfImage" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TypeOfImage">
        <s:restriction base="s:string">
          <s:enumeration value="UserAvatar" />
          <s:enumeration value="ApplicationImage" />
          <s:enumeration value="DetailStatImage" />
          <s:enumeration value="OtherAvatar" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SizeOfImage">
        <s:restriction base="s:string">
          <s:enumeration value="small" />
          <s:enumeration value="medium" />
          <s:enumeration value="large" />
          <s:enumeration value="supersize" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddStatOverviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddStatOverviewResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTrophy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oTrophy" type="tns:Trophy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Trophy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrophyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TriggerSQL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TriggerValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeveloperID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Approved" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UserAwardedCount" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateTrophyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTrophyResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateTrophyToStat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oLink" type="tns:TrophyDetailStatLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TrophyDetailStatLink">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LinkID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TrophyID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="OverviewID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AssociateTrophyToStatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssociateTrophyToStatResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AwardTrophy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="TrophyID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="AwardDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AwardTrophyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AwardTrophyResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AwardTrophyByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="TrophyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AwardDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AwardTrophyByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AwardTrophyByNameResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginUserResult" type="tns:ValidatedUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidatedUserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Validated" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserStat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oUserStat" type="tns:UserStatLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserStatLog">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DetailedStatLogID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="DetailedStatGuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="DetailedStatOverviewGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Percent" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SpecificDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LoggedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AudioContentID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UserStatRank" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserStatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserStatResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserStatMusic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oUserStat" type="tns:UserStatLog" />
            <s:element minOccurs="0" maxOccurs="1" name="oAudioContent" type="tns:AudioContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AudioContent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AudioContentID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AudioContentGUID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="SongTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlbumnTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Genre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportingUserID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserStatMusicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserStatMusicResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OverviewID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="OrOtherType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskResult" type="tns:Tasks" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tasks">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TaskID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OverviewID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="DataToRun" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FinishedExecutionOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetTaskComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTaskCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTaskCompleteResult" type="tns:MessageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindStatOverviewSoapIn">
    <wsdl:part name="parameters" element="tns:FindStatOverview" />
  </wsdl:message>
  <wsdl:message name="FindStatOverviewSoapOut">
    <wsdl:part name="parameters" element="tns:FindStatOverviewResponse" />
  </wsdl:message>
  <wsdl:message name="AddStatOverviewSoapIn">
    <wsdl:part name="parameters" element="tns:AddStatOverview" />
  </wsdl:message>
  <wsdl:message name="AddStatOverviewSoapOut">
    <wsdl:part name="parameters" element="tns:AddStatOverviewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTrophySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTrophy" />
  </wsdl:message>
  <wsdl:message name="UpdateTrophySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTrophyResponse" />
  </wsdl:message>
  <wsdl:message name="AssociateTrophyToStatSoapIn">
    <wsdl:part name="parameters" element="tns:AssociateTrophyToStat" />
  </wsdl:message>
  <wsdl:message name="AssociateTrophyToStatSoapOut">
    <wsdl:part name="parameters" element="tns:AssociateTrophyToStatResponse" />
  </wsdl:message>
  <wsdl:message name="AwardTrophySoapIn">
    <wsdl:part name="parameters" element="tns:AwardTrophy" />
  </wsdl:message>
  <wsdl:message name="AwardTrophySoapOut">
    <wsdl:part name="parameters" element="tns:AwardTrophyResponse" />
  </wsdl:message>
  <wsdl:message name="AwardTrophyByNameSoapIn">
    <wsdl:part name="parameters" element="tns:AwardTrophyByName" />
  </wsdl:message>
  <wsdl:message name="AwardTrophyByNameSoapOut">
    <wsdl:part name="parameters" element="tns:AwardTrophyByNameResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserStatSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserStat" />
  </wsdl:message>
  <wsdl:message name="AddUserStatSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserStatResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserStatMusicSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserStatMusic" />
  </wsdl:message>
  <wsdl:message name="AddUserStatMusicSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserStatMusicResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskSoapIn">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="GetTaskSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="SetTaskCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetTaskComplete" />
  </wsdl:message>
  <wsdl:message name="SetTaskCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetTaskCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="AccessPointSoap">
    <wsdl:operation name="FindStatOverview">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for a stat overview to see if it exists, this will return the id if found</wsdl:documentation>
      <wsdl:input message="tns:FindStatOverviewSoapIn" />
      <wsdl:output message="tns:FindStatOverviewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddStatOverview">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a new website, game, application, to the startstop.me database</wsdl:documentation>
      <wsdl:input message="tns:AddStatOverviewSoapIn" />
      <wsdl:output message="tns:AddStatOverviewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrophy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add or update a new trophy to the startstop.me dataabse</wsdl:documentation>
      <wsdl:input message="tns:UpdateTrophySoapIn" />
      <wsdl:output message="tns:UpdateTrophySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateTrophyToStat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Associate a trophy with a stat overview</wsdl:documentation>
      <wsdl:input message="tns:AssociateTrophyToStatSoapIn" />
      <wsdl:output message="tns:AssociateTrophyToStatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AwardTrophy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Award a user a specific trophy using the TrophyID</wsdl:documentation>
      <wsdl:input message="tns:AwardTrophySoapIn" />
      <wsdl:output message="tns:AwardTrophySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AwardTrophyByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Award a user a specific trophy using the TrophyName</wsdl:documentation>
      <wsdl:input message="tns:AwardTrophyByNameSoapIn" />
      <wsdl:output message="tns:AwardTrophyByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a user</wsdl:documentation>
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserStat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds or UPDATES the userstat</wsdl:documentation>
      <wsdl:input message="tns:AddUserStatSoapIn" />
      <wsdl:output message="tns:AddUserStatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserStatMusic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds or UPDATES the userstat which relates to a song</wsdl:documentation>
      <wsdl:input message="tns:AddUserStatMusicSoapIn" />
      <wsdl:output message="tns:AddUserStatMusicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the next task in the list for an external application, for example, scan for updates or first time scan for a user of stats. This lets the site request updates externally. 
                                When you Get a task it will mark that task as in processing. This enables you to run numerous task handlers for a single task type. 
                                </wsdl:documentation>
      <wsdl:input message="tns:GetTaskSoapIn" />
      <wsdl:output message="tns:GetTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTaskComplete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sets as task as having been completed once the execution has been finished</wsdl:documentation>
      <wsdl:input message="tns:SetTaskCompleteSoapIn" />
      <wsdl:output message="tns:SetTaskCompleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccessPointSoap" type="tns:AccessPointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindStatOverview">
      <soap:operation soapAction="http://startstop.me/FindStatOverview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatOverview">
      <soap:operation soapAction="http://startstop.me/AddStatOverview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrophy">
      <soap:operation soapAction="http://startstop.me/UpdateTrophy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateTrophyToStat">
      <soap:operation soapAction="http://startstop.me/AssociateTrophyToStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AwardTrophy">
      <soap:operation soapAction="http://startstop.me/AwardTrophy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AwardTrophyByName">
      <soap:operation soapAction="http://startstop.me/AwardTrophyByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://startstop.me/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserStat">
      <soap:operation soapAction="http://startstop.me/AddUserStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserStatMusic">
      <soap:operation soapAction="http://startstop.me/AddUserStatMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://startstop.me/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskComplete">
      <soap:operation soapAction="http://startstop.me/SetTaskComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccessPointSoap12" type="tns:AccessPointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindStatOverview">
      <soap12:operation soapAction="http://startstop.me/FindStatOverview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatOverview">
      <soap12:operation soapAction="http://startstop.me/AddStatOverview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrophy">
      <soap12:operation soapAction="http://startstop.me/UpdateTrophy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateTrophyToStat">
      <soap12:operation soapAction="http://startstop.me/AssociateTrophyToStat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AwardTrophy">
      <soap12:operation soapAction="http://startstop.me/AwardTrophy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AwardTrophyByName">
      <soap12:operation soapAction="http://startstop.me/AwardTrophyByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://startstop.me/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserStat">
      <soap12:operation soapAction="http://startstop.me/AddUserStat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserStatMusic">
      <soap12:operation soapAction="http://startstop.me/AddUserStatMusic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap12:operation soapAction="http://startstop.me/GetTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskComplete">
      <soap12:operation soapAction="http://startstop.me/SetTaskComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessPoint">
    <wsdl:port name="AccessPointSoap" binding="tns:AccessPointSoap">
      <soap:address location="http://rpcservice.startstop.me/AccessPoint.asmx" />
    </wsdl:port>
    <wsdl:port name="AccessPointSoap12" binding="tns:AccessPointSoap12">
      <soap12:address location="http://rpcservice.startstop.me/AccessPoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>